.container {
  padding: 1.3rem;
  background: rgb(255, 251, 251);
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.backDropContainer {
  width: 100%;
  height: 30vh;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrdMnr7UboYbqNU-2wmZWlk35SJ2zLOtXzBiFBDPo7ajlVJGj9Mms60-9Fx5AhO2B-eNk&usqp=CAU");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 20px;
}

.backDropContainer > img {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: -30%;
  left: 12%;
  transform: translateX(-50%);
  border: 4px solid white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: white;
  text-align: center;
}
.profileContainer_details {
  padding-top: 4.6rem;
}
.card {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.card_profileContainer {
  display: flex;
}
.card_profileContainer > img {
  width: 3.4rem;
  height: auto;
  object-fit: cover;
}
.connectBtn {
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  background: rgba(3, 93, 103, 0.905);
  outline: none;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.connectedButton {
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  background: rgba(3, 93, 103, 0.905);
  outline: none;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.workHistoryContaier {
  display: flex;
  gap: 1.4rem;
  padding: 1.4rem;
  width: 100%;
  flex-wrap: wrap;
}
.workHistoryCard {
  min-width: fit-content;
  padding-inline: 2.5rem;
  padding-block: 1rem;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgb(173, 173, 173);
}
.profileContainer__flex {
  display: flex;
  gap: 0.7rem;
}
@media only screen and (max-width: 600px) {
    .profileContainer__flex{
        flex-direction: column;
    }
}
